name: Mark and close stale pull requests

on:
  schedule:
  - cron: '55 17 * * *'

env:
  PR_STALE_DAYS: 21
  PR_CLOSE_DAYS: 7

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: read
      pull-requests: write
    steps:
    - uses: actions/stale@v7
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-pr-message: "This pull request has been marked as stale. It will be closed in 14 days if no further activity occurs."
        close-pr-message: "This pull request has been closed due to lack of activity."
        days-before-pr-stale: ${{ env.PR_STALE_DAYS }}
        days-before-pr-close: ${{ env.PR_CLOSE_DAYS }}
        delete-branch: true